// Mixin pour appliquer un dégradé linéaire personnalisé
// Exemple d'utilisation : @include bg-gradient;
@mixin bg-gradient {
    background: linear-gradient(358deg, $pink-dark-color -49.44%, $pink-light-color 153.93%);
}

// Mixin pour générer une ombre personnalisée
// Paramètres :
// - $x : décalage horizontal de l'ombre (en pixels).
// - $y : décalage vertical de l'ombre (en pixels).
// - $blur : rayon de flou de l'ombre (en pixels).
// - $opacity : opacité de la couleur de l'ombre (entre 0 et 1).
@mixin box-shadow($x, $y, $blur, $opacity) {
    box-shadow: $x + px $y + px $blur + px rgba($text-color, $opacity);
}

// Mixin pour générer l'animation des lettres du loader
// Paramètres :
// - $duration : durée de l'anim
// - $animation-name : nom de la @keyframes
@mixin letter-animation($duration: 0.5s, $animation-name: fade-in) {
    display: inline-block;
    animation: $animation-name $duration cubic-bezier(0.83,-0.02, 0.44, 1.33) forwards;
  }