// Card Base Styles
.card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  border-radius: $radius-md;
  overflow: hidden;

  &__img {
    position: relative;
    img {
      height: 174px;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
  &__badge {
    position: absolute;
    right: 15px;
    top: 15px;
    background: $green-light-color;
    color: $green-dark-color;
    border-radius: $radius-xs;
    font-size: rem(14);
    font-weight: $font-weight-semi-bold;
    padding: rem(10) rem(12);
    @include box-shadow(0, 2, 4, 0.15);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: rem(16) rem(13) rem(12);
  }

  &__info {
    &-title {
      font-weight: $font-weight-bold;
      font-size: rem(18);
      line-height: rem(26);
    }

    &-location {
      font-size: rem(17);
    }
  }
  // Variantes card menu
  &--menu {
    position: relative;
    @include box-shadow(0, 4, 15, 0.1);
    .card {
      &__content {
        padding: 0;

      }
      &__info {
        display: flex;
        gap: rem(5);
        flex-direction: column;
        padding: rem(13) rem(15);
        flex-grow:1;
        overflow: hidden;
      }
      &__title {
        font-size: rem(18);
        font-weight: $font-weight-semi-bold;
      }
      &__description {
        font-size: rem(15);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__price {
        padding: rem(13) rem(15);
        align-self: flex-end;
        &-value {
          font-size: rem(15);
        }
      }
      &__check {
        background-color: $green-light-color;
        min-height: 100%;
        width: rem(0);
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.2s ease, width 0.2s ease;
        i {
          border-radius: $radius-xl;
          background: $white;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          color: $green-light-color;
          vertical-align: middle;
        }
      }
    }
    &:hover   .card__check,
    &:active   .card__check{
      width: rem(59);
      opacity: 1;
    }
  }
}
