// Card Base Styles
.card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  border-radius: $radius-m;
  overflow: hidden;

  &__img {
    position: relative;
    img {
      height: 174px;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
  &__badge {
    position: absolute;
    right: 15px;
    top: 15px;
    background: $green-light-color;
    color: $green-dark-color;
    border-radius: $radius-xs;
    font-size: rem(14);
    font-weight: $font-weight-semi-bold;
    padding: rem(10) rem(12);
    @include box-shadow(0, 2, 4, 0.15);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    padding: rem(16) rem(13) rem(12);
  }

  &__info {
    &-title {
      font-weight: $font-weight-bold;
      font-size: rem(18);
      line-height: rem(26);
    }

    &-location {
      font-size: rem(17);
    }
  }
  &__actions {
    position: relative;
    font-size: rem(20);
    width: rem(20);
    .card__icon {
      position: absolute;
      left: 0;
      top: 0;
      transition: opacity 0.3s ease-in;
      &.fa-solid{
        opacity: 0;
        &::before {
          background-image: linear-gradient(#b360db, rgb(222 110 219));
          background-clip: text;
          color:rgba(0,0,0,0);
        }
      }
    }
    &:hover{
      .card__icon {
        &.fa-regular{
          opacity: 0;
        }
        &.fa-solid{
          opacity: 1;
        }
    }
  }
  }
  // Variantes card menu
  &--menu {
    position: relative;
    .card__content {
      align-items: end;
      padding: rem(15);
      margin-right: rem(59);
    }
    .card__info {
      &-title {
        font-weight: $font-weight-semi-bold;
      }
      &-description {
        font-size: rem(15);
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .card__price {
      &-value {
        font-size: rem(15);
      }
    }
    .card__check {
      background-color: $green-light-color;
      position: absolute;
      height: 100%;
      width: rem(59);
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        border-radius: $radius-xl;
        background: $white;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: $green-light-color;
        vertical-align: middle;
      }
    }
  }
}
