.workflow {
  background: $white;
  padding: rem(50)  rem(20);
  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    counter-reset: step-counter;
    &-item {
      position: relative;
      display: flex;
      gap: rem(20);
      align-items: baseline;
      background: $bg-color;
      font-weight: $font-weight-semi-bold;
      border-radius: $radius-m;
      padding: rem(26) rem(34);
      @include box-shadow(0, 2, 4, 0.15);
      transition: color ease-in-out 0.6s;
      counter-increment: step-counter; /* Incrémente le compteur */
      &::before {
        content: counter(step-counter);
        position: absolute;
        left:-10px;
        background: $pink-dark-color;
        font-size: rem(14);
        line-height: rem(24);
        text-align: center;
        color: $white;
        width: 24px;
        height: 24px;
        border-radius: $radius-xl;
      }
      &:hover {
        i {
          color: $pink-dark-color;
        }
      }
      i {
        font-size: rem(20);
        color: $icon-color;
      }
    }
  }
}
