// Import des gg fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');

body {
    font-family: $font-family-text;
    font-size: $font-size-default;
    font-weight: $font-weight-normal;
    background-color: $bg-color;
}

a{
    color: $text-color;
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: column;
    gap:rem(20);
}

.title{
    font-weight: $font-weight-bold;
    font-size:rem(24);
    &__brand{
        font-family: $font-family-brand;
        font-weight: $font-weight-normal;
        font-size:rem(28);
    }
}

.subtitle{
    position: relative;
    font-size:rem(18);
    font-weight: $font-weight-normal;
    color:$grey-dark-color;
    &__underline{
        font-size:rem(16);
        line-height: rem(32);
        text-transform: uppercase;
        &::after{
            content: "";
            display: block;
            left:0;
            bottom: 0;
            width:rem(40);
            height: rem(3);
            background: $green-light-color;
        }
    }
}

