// Import des fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');

body {
    font-family: $font-family-text;
    font-size: $font-size-default;
    font-weight: $font-weight-normal;
}
