.footer {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  background-color: $grey-dark-color;
  color: $white;
  padding: rem(22) rem(25);
  .title--brand {
    font-size: rem(18);
    font-weight: $font-weight-semi-bold;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(7);
    &-item {
      &--semibold {
        font-weight: $font-weight-semi-bold;
      }
      a {
        display: flex;
        align-items: baseline;
        gap: rem(11);
        color: $white;
        i {
          display: flex;
          justify-content: center;
          font-size: rem(12);
          width: rem(12);
        }
        
      }
    }
  }
}
// Responsive Desktop (lg : min-width:992px)
@include breakpoint("lg"){
  .footer{
    flex-direction: row-reverse;
    padding-top: rem(64) ;
    padding: rem(64) rem(67) rem(25) rem(67);
    gap: rem(70);
    align-items: center;
    &__list{
      flex-direction: row;
    }
  }
  .footer__list-item--last {
    margin-right: rem(40);
}
}
