.header {
  &__nav {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: $white;
    @include box-shadow(0, 2, 4, 0.15);
    padding: rem(14) 0 rem(5) 0;
    z-index: 2;
  }
  &__logo {
    font-family: $font-family-brand;
    font-size: rem(30);
  }
  &__location {
    display: flex;
    justify-content: center;
    gap: rem(17);
    background-color: $grey-light-color;
    color: $grey-dark-color;
    font-weight: $font-weight-semi-bold;
    padding: 15px 0;
    @include box-shadow(0, 4, 4, 0.25);
  }
}
